# Ignore Editors
.vscode

# Ignore State
terraform.tfstate
terraform.tfstate.backup
hostfile
terraform.tfstate
terraform.tfstate.backup
.terraform/
.terraform.tfstate.lock.info
hostfile

# Ignore secrets
terraform.tfvars
metal-key
metal-key.pub
